body {
  width: 960px;
  margin: auto;
  font-family: sans-serif;
}

div {
  margin: 20px;
}

h2 {
  margin-bottom: 5px;
  font-weight: bold;
}

h1 {
text-decoration: underline
}

/* unchecked */
.checkbox {
	background: url('form-elements-sprite.png') no-repeat -158px -239px;
	width: 50px;
	height: 50px;
}

/* checked */
.checkbox:checked {
	background: url('form-elements-sprite.png') no-repeat -381px -239px;
	width: 50px;
  height: 50px;
}

/* radio unselected */
.radio {
	background: url('form-elements-sprite.png') no-repeat -582px -242px;
	width: 50px;
  height: 50px;
}

/* radio selected */
.radio:checked {
	background: url('form-elements-sprite.png') no-repeat -812px -242px;
	width: 50px;
  height: 50px;
}
/* arrow up*/
.sprite {
	background: url('form-elements-sprite.png') no-repeat -1035px -280px;
	width: 77px;
	height: 77px;
}

/* arrow down */
.sprite {
	background: url('form-elements-sprite.png') no-repeat -1035px -280px;
	width: 77px;
	height: 77px;
}

.buttons {
  background-color: gray;
  color: rgb(68, 67, 67);
}

.buttons2 {
  background-color: rgb(68, 67, 67);
  color: white;
}